@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', "Inter", sans-serif;
}
body {
    background-image: url(Assets/SL-011719-17920-65.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login {
    margin-top: 20vh;
    margin-left: 85vh;
    background-color: rgba(0, 0, 0, 0.144);
    width: 22vw;
    justify-items: center;
    border-radius: 20px;
}

footer {
    border-bottom: 1px solid black;
    margin: 20px;
    margin-top: 40vh;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    display: grid;

}

button {
    border-radius: 10px;
    padding: 5px;
}

input {
    border-radius: 10px;
    padding: 5px;
}