@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',"Inter", sans-serif;
    color: var(--dark);
}

:root{
    --primary:#fff;
    --secundary:#411975;
    --gray:#555;
    --font:#111;
    --hover:#A35BFF;
    --dark:#333;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.01px solid var(--secundary);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    background: white;
    background-image: url(../Assets/SL-011719-17920-65.jpg);
    background-size: cover;
}

.header h2{
    margin: 2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bolder;
    color:var(--secundary)
}
 .nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
 }

.nav-links ul{
    display: flex;
    gap: 2.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: var(--secundary);
}

.nav-links a:hover{
    color: var(--hover);
}

.header-btn{
    margin: 2rem;
    display: flex;
    gap: 1.5rem;
}

.btn {
    cursor: pointer;
    border-radius: 0.5rem;
}

.btn-header1 {
    background-color: var(--secundary);
    width: 10vh;
    height: 2rem;
    border: none;
    color: var(--primary);
}

.btn-header2 {
    width: 7vh;
    height: 2rem;
    border: 1px solid var(--secundary);
    color: var(--secundary);
}

.btn:hover {
    transform: translateY(-4px);
    transition: 0.3s ease;
    box-shadow: 0 1px 7px var(--dark);
}

.btn-primary {
    width: 20vh;
    height: 3rem;
    border: none;
    background-color: var(--secundary);
    color: var(--primary);
}

.btn-secundary {
    width: 20vh;
    height: 3rem;
    border: 1px solid var(--secundary);
    color: var(--secundary);
}

.btn:hover{
    background-color: var(--secundary);
    color: var(--primary);
}

#hero {
    display: flex;
    justify-content: space-between;
    background-image: url(../Assets/SL-011719-17920-65.jpg);
    background-size: cover;

}

.hero-text {
    padding: 30vh 20vh;
}

.hero-text h2{
    font-size: 3rem;
}

.hero-text p {
    margin: 0 0 10vh;
    width: 100vh;
}

.hero-img {
    padding: 30vh 20vh;
}

.hero-img img{
    max-width: 100vh;
}

