@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',"Inter", sans-serif;
    color: var(--dark);
}

:root{
    --primary:#fff;
    --secundary:#411975;
    --gray:#b6b6b6;
    --font:#111;
    --hover:#A35BFF;
    --dark:#333;
}

p {
    color: var(--dark);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.01px solid var(--secundary);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    background: white;
    background-image: url(../Assets/SL-011719-17920-65.jpg);
    background-size: cover;
}

.header h2{
    
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bolder;
    color:var(--secundary)
}

.logo{
    margin: 2rem;
}

.logo img{
    max-width: 12vh;
    width: 90%;
}


 .nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
 }

.nav-links ul{
    display: flex;
    gap: 2.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: var(--secundary);
}

.nav-links a:hover{
    color: var(--hover);
    transition: 0.3s ease;
}

.header-btn{
    margin: 2rem;
    display: flex;
    gap: 1.5rem;
}

.btn {
    cursor: pointer;
    border-radius: 0.5rem;
}

.btn-header1 {
    background-color: var(--secundary);
    width: 10vh;
    height: 2rem;
    border: none;
    color: var(--primary);
}

.btn-header2 {
    width: 7vh;
    height: 2rem;
    border: 1px solid var(--secundary);
    color: var(--secundary);
}

.btn:hover {
    transform: translateY(-4px);
    transition: 0.3s ease;
    box-shadow: 0 1px 7px var(--dark);
}

.btn-primary {
    width: 20vh;
    height: 3rem;
    border: none;
    background-color: var(--secundary);
    color: var(--primary);
}

.btn-secundary {
    width: 20vh;
    height: 3rem;
    border: 1px solid var(--secundary);
    color: var(--secundary);
}

.btn:hover{
    background-color: var(--secundary);
    color: var(--primary);
}

#hero {
    display: flex;
    justify-content: space-between;
    background-image: url(../Assets/SL-011719-17920-65.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    height: auto;
    z-index: 1;

}

.hero-text {
    margin: 30vh 20vh;
    z-index: 2;
}

.hero-text h2{
    font-size: 3rem;
}

.hero-text p {
    margin: 0 0 10vh;
    width: 100vh;
}

.hero-img {
    display: flex;
    align-items: center;
    justify-content: end;
}

.hero-img img {
    position:absolute;
    z-index: 0;
    width: 90%;
    max-width: 100vh;

}

.footer {
    background-color: var(--secundary);
    height: auto;
}

.logo2 {
    margin-left: 2rem;
    width: auto;
    height: auto;
}

.logo2 img{
    max-width: 12vh;
    width: 90%;
}
.footer p {
    color: var(--primary);
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5rem;
    margin-top: 2rem;
}



.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secundary);
    border-top: 0.01px solid #fff;
    padding: 0.5rem;

}
.backtop{
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin: 2rem;
}

.backtop a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: var(--primary);
}

.social-links {
    display: flex;
    justify-content: center;
}

.fa-brands {
    color: var(--primary);
    gap: 1rem;
    width: 2em;
    font-size: 1.5rem;
}

.footer-columns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.footer-col h4{
    color: var(--primary);
}


.footer-col {
    margin: 2rem;
}

.footer-col ul{
    list-style: none;
}

.footer-col a{
    text-decoration: none;
    color: var(--gray);
}

.footer-col a:hover{
    color: var(--primary);
    transition: 0.3s ease;
}

.footer-bottom p {
    margin-left: 2rem;
}