@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', "Inter", sans-serif;
    color: var(--dark);
}

:root {
    --primary: #fff;
    --secundary: #411975;
    --gray: #b6b6b6;
    --font: #111;
    --hover: #A35BFF;
    --dark: #333;
}

p {
    color: var(--dark);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.01px solid var(--secundary);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    background: white;
    background-image: url(../Assets/SL-011719-17920-65.jpg);
    background-size: cover;
}

.header h2 {

    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bolder;
    color: var(--secundary)
}

.logo {
    margin: 2rem;
}

.logo img {
    max-width: 12vh;
    width: 90%;
}


.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
}

.nav-links ul {
    display: flex;
    gap: 2.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: var(--secundary);
}

.nav-links a:hover {
    color: var(--hover);
    transition: 0.3s ease;
}

.header-btn {
    margin: 2rem;
    display: flex;
    gap: 1.5rem;
}

.btn {
    cursor: pointer;
    border-radius: 0.5rem;
}

.btn-header1 {
    background-color: var(--secundary);
    width: 10vh;
    height: 2rem;
    border: none;
    color: var(--primary);
}

.btn-header2 {
    width: 7vh;
    height: 2rem;
    border: 1px solid var(--secundary);
    color: var(--secundary);
}

.btn:hover {
    transform: translateY(-4px);
    transition: 0.3s ease;
    box-shadow: 0 1px 7px var(--dark);
    background-color: var(--hover);
    color: var(--primary);
    border: none;
}

.btn-primary {
    width: 20vh;
    height: 3rem;
    border: none;
    background-color: var(--secundary);
    color: var(--primary);
}

.btn-secundary {
    width: 20vh;
    height: 3rem;
    border: 1px solid var(--secundary);
    color: var(--secundary);
}

.btn-terciary {
    background-color: var(--secundary);
    color: var(--primary);
    border: none;
    width: 6rem;
    height: 2rem;
}


#hero {
    display: flex;
    justify-content: space-between;
    background-image: url(../Assets/SL-011719-17920-65.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    height: auto;
    z-index: 1;

}

#hero h2 {
    color: var(--font);
}

#hero p {
    color: var(--dark)
}

.hero-text {
    margin: 30vh 20vh;
    z-index: 2;
}

.hero-text h2 {
    font-size: 3rem;
}

.hero-text p {
    margin: 0 0 10vh;
    width: 100vh;
}

.hero-img {
    display: flex;
    align-items: center;
    justify-content: end;
}

.hero-img img {
    position: absolute;
    z-index: 0;
    width: 90%;
    max-width: 100vh;

}

.footer {
    background-color: var(--secundary);
    height: auto;
}

.logo2 {
    margin-left: 2rem;
    width: auto;
    height: auto;
}

.logo2 img {
    max-width: 12vh;
    width: 90%;
}

.footer p {
    color: var(--primary);
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5rem;
}



.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secundary);
    border-top: 0.01px solid #fff;
    padding: 0.5rem;

}

.backtop {
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin: 2rem;
}

.backtop a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: var(--primary);
}

.backtop a:hover {
    transform: translateY(-0.3rem);
    background-color: var(--hover);
    transition: 0.3s ease;
}

.social-links {
    display: flex;
    justify-content: center;
}

.fa-brands {
    color: var(--primary);
    gap: 1rem;
    width: 2em;
    font-size: 1.5rem;
}

.fa-brands:hover {
    transform: translateY(-0.3rem);
    color: var(--hover);
    transition: 0.3s ease;
}

.footer-columns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.footer-col h4 {
    color: var(--primary);
}


.footer-col {
    margin: 2rem;
}

.footer-col ul {
    list-style: none;
}

.footer-col a {
    text-decoration: none;
    color: var(--gray);
}

.footer-col a:hover {
    color: var(--primary);
    transition: 0.3s ease;
}

.footer-bottom p {
    margin-left: 2rem;
}

#sobre {
    padding: 5vh 20vh;
}

#sobre h2 {
    color: var(--font);
    font-size: 2rem;
}

#sobre p {
    color: var(--dark);
}

.team {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
    margin-top: 3rem;
}


.membro {
    background: var(--primary);
    padding: 1.5rem;
    border-radius: 0.9rem;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.13);
    transition: 0.3s ease;
    text-align: center;
    border: 0.06rem solid rgba(255, 255, 255, 0.05);
}


.membro:hover {
    transform: translateY(-0.4rem);
    box-shadow: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.33);
}


.membro img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 0.8rem;
    margin-bottom: 0.8rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.08);
}


.membro h3 {
    font-size: 1.2rem;
    margin: 0.2rem 0;
    color: var(--font);
}


.membro h4 {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--secundary);
    margin-bottom: 0.7rem;
}


.span {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-bottom: 0.8rem;
}


.span span {
    background: rgba(255, 255, 255, 0.06);
    padding: 0.4rem 0.7rem;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    color: var(--secundary);
    border: 0.06rem solid rgba(0, 0, 0, 0.05);
}


.membro p {
    margin-top: 0.6rem;
    margin-bottom: 1rem;
    color: var(--secundary);
    font-size: 0.85rem;
}


.links {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
}


.links i {
    font-size: 1.4rem;
    color: var(--secundary);
    cursor: pointer;
    transition: 0.2s;
}


.links i:hover {
    color: var(--hover);
    transform: translateY(-0.3rem);
}

#servicos {
    padding: 5vh 20vh;
}

#servicos h2 {
    color: var(--font);
    font-size: 2rem;
}

.servico-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 2rem;
    margin-top: 2rem;
}

.fa-solid {
    object-fit: contain;
    font-size: 2rem;
    color: var(--secundary);
}

.servico {
    background: #ffffff;
    border-radius: 16px;
    padding: 2rem 1.5rem;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    transition: 0.3s ease;
    text-align: center;
}

.servico:hover {
    transform: translateY(-6px);
    box-shadow: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.33);
}

.servico:hover i {
    transform: scale(1.1);
    transition: 0.3s ease;
}

.servico-content {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.servico h3 {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--font);
}

.servico p {
    color: var(--dark);
    line-height: 1.5rem;
    font-size: .95rem;
}

#contato {
    padding: 5vh 20vh;
}

#contato h2 {
    color: var(--font);
    font-size: 2rem;
}

#contato p {
    color: var(--dark);
}

.contact-form {
    display: flex;
    align-items: center;
}

.contact-form input,
.contact-form textarea {
    padding: 1rem;
    font-size: 1rem;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    outline: none;
    transition: .3s ease;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #6a4bff;
    box-shadow: 0 4px 18px rgba(106, 75, 255, 0.25);
}

.contact-form textarea {
    height: 140px;
    resize: none;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

@media (max-width: 480px) {

    .hero-text h2 {
        font-size: 1.8rem;
    }

    .btn-primary,
    .btn-secundary {
        width: 100%;
        height: 2.7rem;
    }

    .logo img {
        max-width: 10vh;
    }

    .header-btn {
        flex-direction: column;
        gap: 0.7rem;
    }

    .contact-form {
        width: 100%;
        padding: 0 1rem;
    }
}

@media (max-width: 768px) {

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-links ul {
        display: none;
    }


    #hero {
        padding: 5vh 2vh;
        text-align: center;
    }

    .hero-text h2 {
        font-size: 2.2rem;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .hero-text p {
        width: 100%;
        margin-bottom: 3vh;
    }

    .hero-img img {
        display: none;
    }

    #sobre,
    #servicos,
    #contato {
        padding: 5vh 4vh;
    }

    .servico-grid {
        grid-template-columns: 1fr;
    }

    .team {
        grid-template-columns: 1fr;
    }

    .footer-top,
    .footer-columns {
        flex-direction: column;
        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 1rem;
    }

}

@media (max-width: 1024px) {

    #hero {
        flex-direction: column;
        text-align: center;
        padding: 10vh 5vh;
    }

    .hero-text {
        margin: 5vh 0;
        width: 100%;
    }

    .hero-text p {
        width: 100%;
        margin-bottom: 5vh;
    }

    .hero-img img {
        position: relative;
        max-width: 70%;


    }

    #servico #sobre,
    #contato {
        padding: 5vh 10vh;
    }

    .servico-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .header {
        flex-direction: row;
        gap: 1rem;
        padding: 0.5rem;
    }

    .header-btn {
        display: flex;
        flex-direction: row;
        margin: 1rem 0;

    }
}

.login {
    display: flex;
    padding: 5vh 10vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-image: url(../Assets/SL-011719-17920-65.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-form {
    max-width: 28rem;
    margin: 3rem auto;
    padding: 2rem;
    background: #ffffff;
    border: 1px solid rgba(108, 0, 154, 0.15);
    border-radius: 1.5rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

}

.login-form input {
    padding: 1rem;
    font-size: 1rem;
    background: var(--primary);
    border: 1px solid #ddd;
    border-radius: 12px;
    outline: none;
    transition: .3s ease;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0);

}

.login-form h2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--font);
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid rgba(108, 0, 154, 0.3);
    border-radius: 0.8rem;
    outline: none;
    transition: 0.2s;
    background: #fafafa;
}

.login-form input:focus {
    border-color: var(--secundary);
    background: var(--primary);
}

.login-form a {
    font-size: 0.95rem;
    color: var(--secundary);
    text-decoration: none;
    transition: 0.2s;
}

.login-form a:hover {
    text-decoration: underline;
    transform: translateY(-3px);
    transition: 0.3s ease;
    color: var(--hover);
}

.login-form p {
    font-size: 0.95rem;
    color: var(--dark);
}

.login-form p a {
    margin-left: 0.3rem;
    font-weight: 600;
}

.login-form label {
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.btn-login {
    width: 100%;
    padding: 1rem;
    background: var(--secundary);
    color: var(--primary);
    border: none;
    border-radius: 0.8rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.2s;
}

.btn-login:hover {
    background: var(--hover);
}

.register-form {
    max-width: 30rem;
    margin: 3rem auto;
    padding: 2.5rem;
    background: #ffffff;
    border: 1px solid rgba(108, 0, 154, 0.15);
    border-radius: 1.5rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.register-form h2 {
    text-align: center;
    font-size: 1.9rem;
    font-weight: 600;
    color: #1a1a1a;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid rgba(108, 0, 154, 0.3);
    border-radius: 0.8rem;
    background: #fafafa;
    outline: none;
    transition: 0.2s;
}

.register-form input:focus {
    border-color: #6c00ba;
    background: #fff;
}

.register-form .checkbox {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-size: 0.95rem;
    color: #444;
}

.register-form button {
    width: 100%;
    padding: 1rem;
    background: #6c00ba;
    color: white;
    border: none;
    border-radius: 0.8rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.2s;
}

.register-form button:hover {
    background: #57009b;
}

.register-form a {
    font-size: 0.95rem;
    color: var(--secundary);
    text-decoration: none;
    transition: 0.2s;
}

.register-form p,
a {
    margin-left: 0.3rem;
    font-weight: 600;
}

.register-form a:hover {
    text-decoration: underline;
    transform: translateY(-3px);
    transition: 0.3s ease;
    color: var(--hover);
}

.register-form .checkbox input[type="checkbox"] {
    appearance: none;
    width: 1.1rem;
    height: 1.1rem;
    border: 2px solid var(--secundary);
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
}

.register-form .checkbox input[type="checkbox"]:checked {
    background-color: var(--secundary);
    border-color: var(--secundary);
}

.register-form .checkbox input[type="checkbox"]:checked::after {
    content: "✔";
    position: absolute;
    color: var(--primary);
    font-size: 0.75rem;
    top: -2px;
    left: 2px;
}

.login-form label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    color: var(--dark);
    cursor: pointer;
}


.login-form input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 16px;

    height: 16px;

    border: 2px solid var(--secundary);
    border-radius: 4px;
    background: #fff;
    display: inline-block;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    cursor: pointer;
    position: relative;
    transition: .2s ease;
}

.login-form input[type="checkbox"]:checked {
    background-color: var(--secundary);
    border-color: var(--secundary);
}


.login-form input[type="checkbox"]:checked::after {
    content: "✔";
    position: absolute;
    color: var(--primary);
    font-size: 0.75rem;
    top: -2px;
    left: 2px;
}

.register {
    background-image: url(../Assets/SL-011719-17920-65.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}